$font-family: 'メイリオ', 'Meiryo', 'Lucida Grande', Arial, Verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.8;

$main-key-color: #283D51;
$sub-key-color: #8E8684;

$color-font-base: #333333;
$color-font-gray: #a7b5c7;
$color-placeholder: rgba($color-font-gray, .8);
$color-white: #fff;
$white: #fff;
$body-bg: #f2f4f8;
$red: #f34336;
$orange: #fc900c;
$yellow: #fec31c;
$dark: #333333;