// フッターナビ
.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 5rem 0 1rem;

  a {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem 1rem 1rem 3rem;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .arrow {
    position: absolute;
    top: 0;
    left: 1.2rem;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .image-wrap {
    $size: 80px;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    overflow: hidden;
    margin-right: 1rem;

    span {
      display: block;
      $size: 300%;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
    }

    img {
      max-width: none;
      height: 100%;
    }
  }

  & > div {
    width: 50%;
    box-sizing: border-box;
    padding: 0 .5rem 0 0;

    &:last-of-type {
      padding: 0 0 0 .5rem;

      .arrow {
        left: auto;
        right: 1.2rem;
      }

      a {
        padding: 1rem 3rem 1rem 1rem;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    text-align: center;

    a {
      flex-direction: column;
    }

    .image-wrap {
      $size: 100px;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
      margin: 0 0 1rem;
    }
  }
}

// フッター
footer {
  background: $main-key-color;
  padding: 0 3rem 1rem;

  ul {
    padding: 4rem 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 2rem;
      a {
        color: #fff !important;

        &:hover {
          text-decoration: underline;
          color: #fff !important;
        }

        * {
          color: #fff !important;
        }
      }

      .svg-inline--fa {
        display: none;

        path {
          color: #fff;
        }
      }
    }
  }

  p {
    text-align: center;
    color: #fff;
    font-size: .8rem;
    letter-spacing: .1rem;
  }

  @media only screen and (max-width: 700px) {
    ul {
      li {
        margin: 0 1rem;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    padding: 0 .2rem 1.5rem;

    ul {
      padding: 1rem 0;
      flex-direction: column;

      li {
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: .4rem 0;
          border-bottom: 1px solid #fff;
        }

        &:last-of-type a {
          border: 0;
        }

        .svg-inline--fa {
          display: block;
        }
      }
    }
  }
}